.social-logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.social-media-btn {
  background-color: white;
  padding: 10px 40px;
  color: black;
  outline: none;
  border: none;
}
.social-media-btn:hover {
  background-color: black;
  color: white;
}
